*{
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: row;
}
header{
   
}
ul{
    display: flex;
    flex-direction: row;
    
}
li{
    list-style: none;
}
article{
    display: flex;
    padding: 10px
}
article p{
    flex: 0 0 calc(33% - 10px);
}