
main{   
    box-sizing: border-box;
    flex-direction: row;
}
header{
    padding: 20px;
    background-image: url(kepek/h.jpg);
}

nav ul{
    display: flex;
<<<<<<< HEAD:styles.css
    gap: 5px;
=======
    list-style: none;
>>>>>>> 526352c45eec6c586df938d9cb2803e00dcdcc60:style.css
}
li{

    
}
article{
    display: flex;
    padding: 10px
}
article p{
    flex: 0 0 calc(33% - 10px);
}