
body{
    background-color:bisque;
}
main{   
    box-sizing: border-box;
    flex-direction: row;
    margin: auto;
    width: 80%;
    background-color: rgb(190, 190, 190);
}
header{
    padding: 20px;
    background-color: rgb(163, 163, 163);
}

nav ul{
    display: flex;
    list-style: none;
    gap: 5px;
}
nav a{
    text-decoration: none;
    color: black;
}
article{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
   
}
article div{
    flex: 0 0 calc(30% - 10px);
    border: 1px solid black;
    background-color:  rgb(163, 163, 163);
    padding: 10px;
    margin-bottom: 10px;
}
img{
    width: 100%;
}
